/* ==== 字体 ==== */
$font-family-regular: PingFangSC-Regular, -apple-system, BlinkMacSystemFont, Roboto, Tahoma, Arial, sans-serif;
$font-family-medium: PingFangSC-Medium, -apple-system, BlinkMacSystemFont, Roboto, Tahoma, Arial, sans-serif;
$font-family-semibold: PingFangSC-Semibold, -apple-system, BlinkMacSystemFont, Roboto, Tahoma, Arial, sans-serif;

/* ==== 内置变量 ==== */
$bar-height: var(--status-bar-height);
$win-top: var(--window-top);
$win-bottom: var(--window-bottom);

/* ==== 配色 ==== */
$red: #e1251b;
$black: #000;
$yellow: #f69c00;
$green: #07c160;
$orange: #F74F0E;
$pink: #FF6D8A;
$blue: #0081ff;
$brown:	#8B4512;
$purple: #6739b6;
$white: #ffffff;
$gray: #777777;
$grey: #82939c;
